doctype html
html(lang="en")
  head
    meta(charster="utf-8")
    block title
      title= title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/assets/favicon.ico")
  body
    div(id="container")
      block content
